html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    /* CSS HEX */
    --night: #131313ff;
    --snow: #fffbf8ff;
    --orange: #e26d5cff;
    --purple: #7272abff;
    --blue: #2176ae;
    background-color: var(--night);
    color: white;
}
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4 {
    font-weight: unset;
}
