.collection {
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.collectionHeader {
    font-weight: bold;
    color: var(--blue);
    display: flex;
    justify-content: center;
}

.collectionImages {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .collection {
        width: 100%;
    }
    .collectionImage {
        margin: 10px;
        width: 90%;
        height: auto;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .collection {
        width: 100%;
    }
    .collectionImage {
        margin: 10px;
        width: 90%;
        height: auto;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .collection {
        width: 90%;
    }
    .collectionImage {
        margin: 10px;
        width: auto;
        height: 600px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
