.pageHeader {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
}
.pageHeader * {
    display: flex;
    justify-content: center;
}
.pageHeaderText {
    justify-self: center;
    align-self: center;
}
.headerLeft {
    justify-content: left;
    width: 33%;
}
.headerCenter {
    width: 33%;
}
.headerRight {
    justify-content: right;
    width: 33%;
}
.iconText {
    margin-left: 1%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: left;
}
.iconText:hover {
    cursor: pointer;
}
.iconText * {
    padding-left: 5px;
    padding-right: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .iconText {
        align-self: center;
        margin-top: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
