.main {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.sectionSeparator {
    margin-top: 1%;
}
.section {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sectionHeader {
}
.sectionHeaderText {
    justify-self: center;
    align-self: center;
}
.sectionContents {
    display: flex;
    justify-content: center;
}
.iconText {
    margin-left: 1%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconText * {
    padding-left: 5px;
    padding-right: 5px;
}
.collectionContainer {
    background-color: var(--snow);
}
