.main {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.sectionSeparator {
    margin-top: 1%;
}
.section {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sectionHeader {
}
.sectionHeaderText {
    justify-self: center;
    align-self: center;
}
.sectionContents {
    display: flex;
    justify-content: center;
}
.iconText {
    margin-left: 1%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconText * {
    padding-left: 5px;
    padding-right: 5px;
}
.collectionContainer {
    display: flex;
    justify-content: center;
    background-color: var(--snow);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .iconText {
        align-self: center;
        margin-top: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
