
.section-title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.notice {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.images {
    max-width: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.images img {
    margin: 5px;    
    width: auto;
    height: 300px;
    object-fit: contain;
    object-position: center;
    transition: .3s ease-in-out;
    max-width: inherit;
    max-height: inherit;
}

.container img:hover {
    transform: scale(1.03);
} 

.modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: #ffffff;     
}

.fadeIn {
    animation: .01s scale1 forwards , fadeIn .5s forwards ease-in-out;
}

.fadeOut {
    animation: .5s fadeOut forwards ease-in-out, .1s scale0 forwards .5s;
}

.zoomIn {
    animation: zoomIn .5s forwards ease-in-out;
}

.zoomOut {
    animation: zoomOut .3s forwards ease-in-out; 
}

@keyframes scale0 {
    from {
        height: 100%;
        width: 100%;
    }
    to {
        height: 0%;
        width: 0%;
    }

}

@keyframes scale1 {
    from {
        height: 0%;
        width: 0%;
    }
    to {
        height: 100%;
        width: 100%;
    }
}

@keyframes fadeIn {
    from 
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    
    from{
        max-width: 0%;
        max-height: 0%;
    }
    to{
        max-width: 80%;
        max-height: 80%;
    }
}

@keyframes zoomOut {
    from {
        max-width: 80%;
        max-height: 80%;
    }
    to
    {
        max-width: 0%;
        max-height: 0%;
    }
}

.modal-img {
    width: auto;
    max-height: 80%;
    object-fit: contain;
    object-position: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}